@charset "UTF-8";
* { margin: 0; padding: 0; vertical-align: baseline; -webkit-text-size-adjust: 100%; box-sizing: border-box; letter-spacing: -0.75px; }

::before, ::after { box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
body { overflow-x: hidden; line-height: 1; font-family: "Roboto","Noto",sans-serif; font-weight: 500; font-size: 14px; letter-spacing: -1px; color: #000; }

button { line-height: 1; font-family: "Roboto","Noto",sans-serif; font-weight: 500; font-size: 16px; letter-spacing: -1px; color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; display: block; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; color: #000; line-height: 1em; }

strong { font-weight: 700; }

:lang(en) { font-weight: 400 !important; }

/* 테이블 스타일 초기화 */
table { width: 100%; border-collapse: collapse; border-spacing: 0; empty-cells: show; table-layout: fixed; }

th, td { font-weight: 500; }

td { word-wrap: break-word; word-break: keep-all; }

fieldset { border: 0; margin: 0; padding: 0; }

legend, caption { visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

address, caption, em, var { font-style: normal; font-weight: 500; 